.goods-container {
	text-align: center;
}

.search-field {
	margin: 30px auto;
	width: 50%;
}

.product-cart {
	display: inline-block;
	margin: 10px;
	padding: 15px;
	width: 300px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.product-cart:hover {
	border-color: black;
}

.product-cart .letter-photo {
	margin-top: 0px;
	font-size: 88px;
	cursor: pointer;
}

.product-cart .product-name {
	font-size: 17px;
}

.product-cart .price {
	font-size: 26px;
	color: grey;
}